---
---

@import "{{ site.theme }}";

header,
body {
    background: #121423;
}
#banner {
    background: #fff;
    border: 1px solid #fff;
}
#banner .fork,
#banner .button,
#banner ul li a.button {
    background: #FF4978 !important;
    border: 1px solid #FF4978 !important;
    box-shadow: none !important;
}
#banner .fork strong,
#banner .button strong,
#banner ul li a.button {
    color: #fff;
}
nav ul a {
    color: #fff;
}
.footer {
    display: none !important;
}
section {
    width: 645px;
}
header h1 {
    text-shadow: none;
}