---
---

@import "{{ site.theme }}";

header,
body {
    background: #121423;
}
#banner {
    background: #fff;
    border: 1px solid #fff;
}
#banner .fork,
#banner .button {
    background: #FF4978 !important;
    border: 1px solid #FF4978 !important;
    box-shadow: none !important;
}
#banner .fork {
    color: #fff;
}